In [41]:
import pandas as pd

## 创建DataFrame

In [42]:
A = [[101,'a','z'],[102,'b','y'],[103,'c','x'],[104,'d','w']]
print(A)

dfa = pd.DataFrame(A)
print(dfa)

# 重新命名列
dfa.columns = ['no','la','lz']
print(dfa)

[[101, 'a', 'z'], [102, 'b', 'y'], [103, 'c', 'x'], [104, 'd', 'w']]
     0  1  2
0  101  a  z
1  102  b  y
2  103  c  x
3  104  d  w
    no la lz
0  101  a  z
1  102  b  y
2  103  c  x
3  104  d  w

## 索引

In [43]:
dfa.set_index('lz')

     no la
lz
z   101  a
y   102  b
x   103  c
w   104  d

In [44]:
dfa.set_index('lz').sort_index()

     no la
lz
w   104  d
x   103  c
y   102  b
z   101  a

In [45]:
dfa[1:]

    no la lz
1  102  b  y
2  103  c  x
3  104  d  w

In [46]:
dfa[:1]

    no la lz
0  101  a  z

In [47]:
dfa['no']

0    101
1    102
2    103
3    104
Name: no, dtype: int64

In [48]:
dfa[['no','lz']]

    no lz
0  101  z
1  102  y
2  103  x
3  104  w

In [49]:
dfa.iloc[0,0]

101

In [50]:
B = [[101,'A','Z'],[102,'B','Y'],[104,'D','W'],[105,'E','V']]
dfb = pd.DataFrame(B)
dfb.columns = ['no','ua','uz']
dfb

    no ua uz
0  101  A  Z
1  102  B  Y
2  104  D  W
3  105  E  V

In [51]:
pd.concat([dfa,dfb])

dfa.set_index('no',inplace=True)
dfb.set_index('no',inplace=True)
dfa.join(dfb)

    la lz   ua   uz
no
101  a  z    A    Z
102  b  y    B    Y
103  c  x  NaN  NaN
104  d  w    D    W

In [59]:
dfa.join(dfa,rsuffix='_rsfx')
type(dfa)
dfa = dfa.values
type(dfa)

numpy.ndarray